<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404Error</title>

<body>
    <center><img src="C:\Users\HP\Downloads\New folder\kakatiya.jpg"> </center>
    <h1 style="font-size:25px; padding: 0px 0px 0px 0px;">
        <center>KAKATIYA UNIVERSITY
    </h1>
    <h2 style="font-size:20px ; padding: 0px 0px 0px 0px;">
        <center>Warangal-506009
    </h2>
    <h1 style="font-size:60px ">
        <center>404-ERROR
    </h1>
    <hr style="width:60%" size="2" color="black">
    <h3 style="font-size:40px ;padding: 0px 0px 0px 0px;">
        <center>OOPS! PAGE NOT FOUND
    </h3>
    <p style="font-size:25px  ;padding: 0px 0px 0px 0px;">
        <center><b>Sorry, The page you are looking for doesn't Exist.If you think something is broken<br> report a
                problem</b>
    </p>
    <a href="/bcvdlogin"><button name="Home" type="button">Home</button></a>
    <p>click here to go back to home page</p>

</body>

</html>