<html>
<body>
<center><img src="C:\Users\HP\Downloads\New folder\kakatiya.jpg"> </center>
<h1 style="font-size:40px padding: 0px 0px 0px 0px;"><center>KAKATIYA UNIVERSITY</h1>
<h2 style="font-size:20px  padding: 0px 0px 0px 0px;"><center>Warangal-506009</h2>
<h1 style="font-size:80px "><center>404-ERROR</h1>
<hr style="width:60%" size="2" color="black">
<h3 style="font-size:50px padding: 0px 0px 0px 0px;"><center>OOPS! PAGE NOT FOUND</h3>
<p style="font-size:30px  padding: 0px 0px 0px 0px;"><center><b>Sorry, The page you are looking for doesn't Exist.If you think something is broken<br> report a problem</b></p>
<button name="Home" type="button">Home</button><p>click here to go back to home page</p>

</body>
</html>
