<html>
<body>
<center><img src="C:\Users\HP\Downloads\New folder\kakatiya.jpg"> </center>
<h1 style="font-size:40px padding: 0px 0px 0px 0px;"><center>KAKATIYA UNIVERSITY</h1>
<h2 style="font-size:20px  padding: 0px 0px 0px 0px;"><center>Warangal-506009</h2>
<h1 style="font-size:70px "><center>500-SERVER ERROR</h1>
<hr style="width:60%" size="2" color="black">
<h3 style="font-size:60px padding: 10px 10px 10px 10px;"><center>OOPS!  SOMETHING WENT WRONG</h3>
<p style="font-size:50px  padding: 0px 0px 0px 0px;"><center><b>Sorry,there was an error on this page.Our tech team has been informed about<br>this and we will try to resolve this problem as soon as possible</b></p>
<button name="Home" type="button">Home</button><p>click here to go back to home page</p>


</body>
</html>