<!Doctype html>

<head>
    <link rel="stylesheet" href="/static/payverify.css">
    <link rel="icon" type="image/x-icon" href="static/kulogo.jpeg">
    <title>VC Note1
    </title>
</head>
<body >

    <div class="main">
        <div class="logo">
            <img src="/static/kulogo.jpeg" width="100" height="100">
        </div>
        <big><big><b><big><big> <big> EXAMINATION BRANCH<br></big></b></big></big></big></big>
        <big><big><big> KAKATIYA UNIVERSITY<br></big></big></big>
        <big>Warangal-506 009</big>
        <h2 style="margin-bottom:03px;"><u>COE List</u></h2><br><br><br>
        <form action="/vcverify1" method="post">
            {% csrf_token %}
            <select name='nithin' class='pay'>
                {% for i in andy%}
                <option value="{{i.cid}}" class='pay'>{{i.cid}} , {{i.nameOfSchlr}}</option>
                {% endfor %}
            </select>
            <br><br><br><input type='submit' value="verify" class='btn' />
        </form>
    </div>
</body>
</html>